.cabecalho {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-imagem{
    width: 35%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.Cafeteria-Tematica-imagem{
    width: 25%;
}
.Cafeteria-Tematica{
    background-image: linear-gradient(#FFFFFF);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.Cafeteria-Tematica-conteudo{
    width: 72%;
}
body{
    font-family: 'EB Garamond', serif;
}
.gato-imagem{
    width: 500px;
}
.gatocafe-imagem{
    width: 500px;
}
.produtos-imagem{
    width: 500px;
}
.cafeteria-div{
    text-align: center;
}
.cafe-titulo{
    text-align: center;
    padding: 50px 0;
}
.cafeteria-todos{
    display: grid;
grid-template-columns: 20% 20% 20% 20%;
}
.rodape{
    background-color: white;
    text-align: center;
    }
    .rodape-imagem{
    height: 60px;
    padding: 12px 0;
    }
